{% extends 'layout.html' %}
{% block title %} Visualization {% endblock %}

{% block body %}
    <script src="/static/script.js" type="text/javascript"></script>
    <link href="/static/styles.css" type="text/css" rel="stylesheet">
    <div id="network_area"></div>
    <div id="status_bar"></div>
    <div id="attack_bar"></div>
    <img src="/static/arrow.png" alt="attack_edge" id="attack_arrow"/>
    <button id="turn_submit" onclick="submitTurn()"> Play Turn! </button>
    <script src="/static/script.js" type="text/javascript"></script>
    <script>
        /* Guards */
        let num_guards = 3;
        let guards_onboard = 0;

        let attack_edge = [1, 2];
        let colors = ["#70ca09", "#0ab2dd"];
        let graph = {{ path_graph }};
        let node_data = [];
        let edge_data = [];

        let datStruct = new PathGraph(5, 3);

        for (let i = 1; i <= graph.length; i++) {
            node_data.push({id: i, label: i.toString()});
            if (i === 1)
                continue;
            edge_data.push({id: (i - 1).toString() + "," + i.toString(), from: i - 1, to: i});
        }
        let nodes = new vis.DataSet(node_data);

        let edges = new vis.DataSet(edge_data);

        let tile = document.getElementById("network_area");

        let data = {
            nodes: nodes,
            edges: edges
        }

        /* JSON object containing configuration parameters for nodes and edges of the network */
        let config = {
            nodes : {
                color : {
                    border: "#000000",
                    background: colors[0]
                }
            },
            edges : {
                color: {
                    highlight : colors[1],
                    color: "#000000"
                }
            }
        }
        /* ====================================================================================== */

        let network = new vis.Network(tile, data, config);


        /* What the network does when a node is clicked */
        network.on("click", function(cNode) {

            let nodeId = cNode['nodes']['0'];
            if (nodeId) {

                let clickedNode = nodes.get(nodeId);

                if (clickedNode.color === colors[1]) {
                    guards_onboard = guards_onboard - 1;
                    alert(guards_onboard);
                    clickedNode.color = colors[0];
                }
                else {
                    guards_onboard = guards_onboard + 1;
                    if (guards_onboard > num_guards) {
                        alert("You have more guards than you requested!!");
                        guards_onboard = guards_onboard - 1;
                    }
                    else
                        clickedNode.color = colors[1];
                }
                nodes.update(clickedNode);

                let status_bar = document.getElementById("status_bar");
                status_bar.innerText = "Total Guards: " + num_guards + " | Guards On Board: " + guards_onboard;
            }
        });
        /* ============================================ */


        /* Handling the submission of a particular graph state */
        function submitTurn() {
            unhighlightPrevious(attack_edge[0], attack_edge[1]);

            let length = graph.length;
            let finalState = [];
            let i;
            for (i = 1; i <= length; i++) {
                let currNode = nodes.get(i);
                if (currNode.color === colors[1]) {
                    finalState.push(1);
                }
                else {
                    finalState.push(0);
                }
            }
            alert(finalState);
            attack_edge = datStruct.attackerAI(finalState);
            alert(attack_edge);
            pointToEdge(attack_edge[0], attack_edge[1]);
            document.getElementById("attack_bar").innerText = "Attacked Edge: " + attack_edge;
        }
        /* ==================================================== */


        /* Helper function to point to a particular edge on the graph */
        function pointToEdge(node1, node2) {
            let assocEdge = edges.get(node1.toString() + "," + node2.toString());
            assocEdge.color = {color: "#ff0000"};
            assocEdge.width = 5;
            edges.update(assocEdge);
        }
        /* =========================================================== */


        /* Helper function to undo the highlight made by the previous function after the attack is ceased */
        function unhighlightPrevious(node1, node2) {
            alert(node1.toString() + "," + node2.toString());
            let prevEdge = edges.get(node1.toString() + "," + node2.toString());
            prevEdge.color = {color: "#000000"};
            prevEdge.width = 1;
            edges.update(prevEdge);
        }
        /* =============================================================================================== */
    </script>
{% endblock %}