{% extends 'layout.html' %}
{% block title %} Visualization {% endblock %}

{% block body %}
    <script src="/static/script.js" type="text/javascript"></script>
    <link href="/static/styles.css" type="text/css" rel="stylesheet">
    <div id="network_area"></div>
    <button id="turn_submit" onclick="submitTurn()"> Play Turn! </button>

    <script>
        let graph = {{ path_graph }};

        let colors = ["#70ca09", "#0ab2dd"];

        let node_data = [];
        let edge_data = [];

        for (let i = 1; i <= graph.length; i++) {
            node_data.push({id: i, label: i.toString()});
            if (i === 1)
                continue;
            edge_data.push({from: i - 1, to: i});
        }
        let nodes = new vis.DataSet(node_data);

        let edges = new vis.DataSet(edge_data);

        let tile = document.getElementById("network_area");

        let data = {
            nodes: nodes,
            edges: edges
        }

        let config = {
            nodes : {
                color : {
                    border: "#000000", 
                    background: colors[0]
                }
            }
        }

        let network = new vis.Network(tile, data, config);

        network.on("click", function(cNode) {
            let nodeId = cNode['nodes']['0'];
            if (nodeId) {
                let clickedNode = nodes.get(nodeId);
                
                if (clickedNode.color === colors[1]) {
                    clickedNode.color = {
                        border: "#000000", 
                        background: colors[1]
                    };
                } 
                else {
                    clickedNode.color = {
                        border: "#000000",
                        background: colors[1]
                    }; 
                }
                nodes.update(clickedNode);
            }
        });

        function submitTurn() {
            let length = graph.length
            for (var i = 1; i <= length; i++) {
                let finalState = []
                let currNode = nodes.get(i); 
                if (currNode.color === colors[0]) {
                    finalState.push(0); 
                }
                else {
                    finalState.push(1);
                }
            }

        };
    </script>
{% endblock %}