{% extends "layout.html"%}
{% block title %}Home{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <button class="btn" id="Path">Path</button>
    <a><button class="btn" id="Cycle">Cycle</button></a>

    <div id="form">
        <h1> Path Graph </h1>
        <form action="/graph_vis" method="POST" >
            <div class="form-group row">
                <div class="col-6">
                    <label for="total_guards" class="col-10 col-form-label">   Total Number of Guards   </label>
                    <input class="form-control" type="number" value="0" name="total_guards">

                </div>
                
                <div class="col-6">
                    <label for="num_vertices" class="col-10 col-form-label">   Number of Vertices   </label>
                    <input class="form-control" type="number" value="0" name="num_vertices">
                </div>
                <button type="submit" id="form_submit">Move to Level!</button>

            </div>
    </div>

    <script>
        $("button").on("click", function() {
            $("body").css("background-image", "linear-gradient(to top, #70ca09 0%, #0ab2dd 100%)");
            
            //$("body").animate({background-image: "linear-gradient(to top, #70ca09 0%, #0ab2dd 100%)"});
            $(".btn").fadeOut(1000); 

            $("#form").fadeIn(1000); 
        });
    </script>

{% endblock %}