{% extends "layout.html"%}
{% block title %}Home{% endblock %}

{% block body %}
    <div id="buttons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <button id="Path">Path</button>
        <a><button id="Cycle">Cycle</button></a>

        <script>
            $("#Path").click(function() {
                alert("Clicked");
                $("#buttons").innerText = "Fuck you JQUERY";
                alert("Exiting");
            });
        </script>
    </div>
{% endblock %}